body {
  height: 2000px;
  position: relative; }

.navbg {
  background: #027202;
  opacity: 0; }

.showColor {
  opacity: .5; }

.transition {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out; }
