/* {
    box-sizing: border-box;
    border: 1px solid purple;
}*/

body {
    height: 2000px;
  }

.navbg {
    background: transparent;
}

.showColor {
    background: rgba(2, 114, 2, .5);
}

.transition {
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

#photoOfMe {
    width: 200px;
    border-radius: 50%;
}